# Compiled class files
*.class

# Build output directories
/target/
/build/

# IDE-specific files and directories
/.project
/.classpath

# Maven specific files and directories
/.mvn/
/mvnw
/mvnw.cmd

# Gradle specific files and directories
/.gradle/
/build/